body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hintergrund.png'); /* Hintergrundbild hinzugefügt */
    background-size: cover; /* Bild wird auf die gesamte Bildschirmgröße skaliert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
}

header {
    background-color: rgba(205, 105, 238, 0.6);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: rgba(205, 105, 238, 0.6);
    color: #000000;
}

main {
    padding: 20px;
}

.content {
    text-align: center;
    display: none;
}

#home:target,
#letter:target,
#cats:target {
    display: block;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgba(205, 105, 238, 0.6);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.small-image {
    width: 200px; /* Kleinere Breite für das Bild */
}

#letter {
    font-weight: bold; /* Text im Briefabschnitt fett gemacht */
}

label {
    font-weight: bold; /* Fetter Text */
}



#noButton {
    position: relative;
}

#noButton.clicked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#noButton {
    background-color: red;
    color: white; /* Textfarbe auf Weiß setzen, um besser sichtbar zu sein */
}

#yesButton {
    background-color: green;
    color: white; /* Textfarbe auf Weiß setzen, um besser sichtbar zu sein */
}

#buttonMessage {
    margin-top: 25px; /* Füge unten 20 Pixel Abstand hinzu */
}
