body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hintergrund.png'); /* Hintergrundbild hinzugefügt */
    background-size: cover; /* Bild wird auf die gesamte Bildschirmgröße skaliert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
}

header {
    background-color: #cd69ee;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #cd69ee;
    color: #000000;
}

main {
    padding: 20px;
}

.content {
    text-align: center;
    display: none;
}

#home:target,
#letter:target,
#cats:target {
    display: block;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #cd69ee;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Neue Klasse für das Bild auf der Startseite */
.small-image {
    width: 200px; /* Kleinere Breite für das Bild */
}

/* Stil für den Briefabschnitt */
#letter {
    font-weight: bold; /* Text im Briefabschnitt fett gemacht */
}
